.shapes__value {
    height: 75%;
    width: 100%;
    border-top: 1px solid rgb(190, 190, 190);
}

.error__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.1);
    z-index: 10;
}

.error__box div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding: 2rem 6rem;
}

.error__box p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 32px;
    color: rgb(255, 37, 37);
    text-transform: uppercase;
}

.error__box li {
    color: gray;
    font-size: 12px;
    margin-bottom: .5rem;
    text-decoration: underline;
}


.error__box button {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background-color: red;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 0px 4px 0px 0px;
    cursor: pointer;
}

.variable {
    padding: 2rem;
}

label {
    display: block;
    margin-bottom: .25rem;
    color: #575757;
    text-transform: uppercase;
    font-size: 14px;
}

.variable input {
    width: 100%;
    padding: .25rem .5rem;
    outline: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0,0,0,.1);
    border-radius: .25rem;
    border: none;
    color: #575757;
}

.box {
    margin-bottom: 1rem;
}

.btn {
    text-transform: uppercase;
    padding: .25rem 1rem;
    color: white;
    margin-top: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    transform: scale(.9);
}

.delete {
    float: right;
    background-color: rgb(236, 14, 51);
}

.create {
    background-color: #13b913;
}

.input__box {
    padding: 2rem;
}

.expr__box {
    margin-top: 1rem;
}

.expr__box input {
    padding: .25rem .5rem;
    outline: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0,0,0,.1);
    border-radius: .25rem;
    border: none;
    color: #575757;
    width: 100%;
    margin-bottom: 1rem;
}

.expr__box label {
    font-size: 12px;
}

.flow__box {
    padding: 2rem;
    
}

.flow__box input {
    width: 100%;
    padding: .25rem .5rem;
    outline: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0,0,0,.1);
    border-radius: .25rem;
    border: none;
    color: #575757;
    margin-bottom: 1rem;
}

.loop__box {
    padding: 2rem;
}

.loop__box > div {
    margin-bottom: 1rem;
}

.loop__box div:first-child input {
    margin: .25rem 0;
}
.loop__box input {
    width: 100%;
    padding: .25rem .5rem;
    outline: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0,0,0,.1);
    border-radius: .25rem;
    border: none;
    color: #575757;   
}

.print__box {
    padding: 2rem;
}

.print__box input {
    width: 100%;
    padding: .25rem .5rem;
    outline: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2), 0px 0px 6px rgba(0,0,0,.1);
    border-radius: .25rem;
    border: none;
    color: #575757;
}

@media screen and (max-width: 1200px) {
    .shapes__value {
        height: 60%;
    }
}