.doc__container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.2);
    z-index: 5;
    top: 0;
    left: 0;
    position: absolute;
}

.doc__inner {
    width: 640px;
    height: 360px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 4px; 
    box-shadow: 0px 2px 10px -1px rgba(0,0,0,.1);
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.doc__select__side {
    border-right:  1px solid rgb(201, 201, 201);
}

.doc__select__side p {
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
    color: rgb(61, 61, 61);
}

.doc__select__side p:hover {
    background-color: rgba(0,0,0,0.04);
}

.doc__side {
    overflow-y: scroll;
}

.doc__container button {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background-color: red;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 0px 4px 0px 0px;
    cursor: pointer;
}

